In [1]:
import MySQLdb
from MySQLdb import Error
import os
import time

In [2]:
try:
    connection = MySQLdb.connect(
        host="localhost",
        user="root",
        password=os.getenv('MySQL'),
        database="hotel_management"
    )
    print("Connected to Database Successfully!")
except Error as e:
    print(f"Error Occurred: {e}")

Connected to Database Successfully!

In [3]:
cursor = connection.cursor()

start = time.time()

cursor.execute('''
    SELECT r.room_no, r.type
    FROM rooms r
    JOIN bookings b ON r.room_no = b.room_no
    WHERE YEAR(b.check_in) = 2023
    GROUP BY r.room_no, r.type
    HAVING COUNT(DISTINCT MONTH(b.check_in)) = 12
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.002277374267578125

In [4]:
start = time.time()

cursor.execute('''
    SELECT DISTINCT 
        MONTHNAME(b.check_in) AS month_name
    FROM rooms r
    JOIN bookings b ON r.room_no = b.room_no
    WHERE r.type = 'deluxe' AND YEAR(b.check_in) = 2023
    ORDER BY MONTH(b.check_in)
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0016717910766601562

In [5]:
start = time.time()

cursor.execute('''
    SELECT g.guest_id
    FROM guests g
    JOIN bookings b ON g.guest_id = b.guest_id
    JOIN rooms r ON b.room_no = r.room_no
    WHERE r.type = 'single_room' AND YEAR(b.check_in) = 2022
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0014400482177734375

In [7]:
start = time.time()

cursor.execute('''
    SELECT g.lname, g.email, g.phone_no
    FROM guests g
    JOIN bookings b ON g.guest_id = b.guest_id
    JOIN rooms r ON b.room_no = r.room_no
    WHERE r.type = 'single_room' AND YEAR(b.check_in) = 2022
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0014922618865966797

In [8]:
start = time.time()

cursor.execute('''
    SELECT g.guest_id, g.lname, g.email, g.phone_no
    FROM guests g
    LEFT JOIN bookings b ON g.guest_id = b.guest_id
    WHERE b.guest_id IS NULL
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0024569034576416016

In [9]:
start = time.time()

cursor.execute('''
    SELECT r.room_no, r.type
    FROM rooms r
    JOIN bookings b ON r.room_no = b.room_no
    WHERE YEAR(b.check_in) = 2023
    GROUP BY r.room_no, r.type
    HAVING COUNT(DISTINCT MONTH(b.check_in)) = 12
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0015377998352050781

In [10]:
start = time.time()

cursor.execute('''
    SELECT DISTINCT MONTH(b.check_in) AS month
    FROM bookings b
    JOIN rooms r ON b.room_no = r.room_no
    WHERE r.type = 'deluxe'
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0020248889923095703

In [11]:
start = time.time()

cursor.execute('''
    SELECT g.guest_id
    FROM guests g
    JOIN bookings b ON g.guest_id = b.guest_id
    JOIN rooms r ON b.room_no = r.room_no
    WHERE r.type = 'single_room' AND YEAR(b.check_in) = 2022
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0010666847229003906

In [12]:
start = time.time()

cursor.execute('''
    SELECT g.lname, g.email, g.phone_no
    FROM guests g
    JOIN bookings b ON g.guest_id = b.guest_id
    JOIN rooms r ON b.room_no = r.room_no
    WHERE r.type = 'single_room' AND YEAR(b.check_in) = 2022
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.0017931461334228516

In [14]:
start = time.time()

cursor.execute('''
    SELECT g.guest_id, g.lname, g.email, g.phone_no
    FROM guests g
    LEFT JOIN bookings b ON g.guest_id = b.guest_id
    WHERE b.guest_id IS NULL
''')

output = cursor.fetchall()

print(f"Execution TIme: {time.time() - start}")

Execution TIme: 0.001325368881225586