In [1]:
import MySQLdb
from MySQLdb import Error
import os

In [2]:
try:
    connection = MySQLdb.connect(
        host="localhost",
        user="root",
        password=os.getenv('MySQL'),
        database="hotel_management"
    )
    print("Connected to Database Successfully!")
except Error as e:
    print(f"Error Occurred: {e}")

Connected to Database Successfully!

In [3]:
cursor = connection.cursor()

for room_no in range(101, 201):
    if room_no <= 125: type, price = "Standard", 2500.0
    elif room_no <= 150: type, price = "Deluxe", 3200.0
    elif room_no <= 175: type, price = "Executive", 4000.0
    else: type, price = "Premium", 6500.0

    cursor.execute(f"INSERT INTO rooms VALUES({room_no}, '{type}', 'Empty', {price})")

connection.commit()

In [6]:
import numpy as np

cursor = connection.cursor()

phone_numbers = [
    "+1-202-555-0172",
    "+1-303-555-0198",
    "+1-404-555-0147",
    "+1-505-555-0119",
    "+1-606-555-0134"
]
emails = [
    "alice.smith@example.com",
    "bob.johnson@example.com",
    "charlie.williams@example.com",
    "diana.jones@example.com",
    "eve.brown@example.com"
]
fnames = ["Alice", "Bob", "Charlie", "Diana", "Eve"]
lnames = ["Smith", "Johnson", "Williams", "Jones", "Brown"]
in_dates = ["2024-08-03", "2024-08-12", "2024-08-19", "2024-08-23", "2024-08-30"]
occupants = [2, 4, 1, 3, 4]
travel_modes = ["Air", "Railway", "Air", "Personal Vehicle", "Railway"]

for id in range(1, 6):
    room_no = np.random.randint(low=101, high=200)
    cursor.execute(f"INSERT INTO bookings VALUES({id}, {room_no}, '{phone_numbers[id-1]}', '{emails[id-1]}', '{fnames[id-1]}', '{lnames[id-1]}', '{in_dates[id-1]}', {occupants[id-1]}, '{travel_modes[id-1]}', 'Cash', 1)")
    cursor.execute(f"UPDATE rooms SET status='Booked' WHERE room_no={room_no}")

connection.commit()