In [1]:
import mysql.connector
import os

In [6]:
import numpy as np

In [2]:
password = os.getenv("MYSQL")

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password,
  database="hotel_management"
)

In [3]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE rooms (room_no INT PRIMARY KEY, type VARCHAR(20), status VARCHAR(20), price FLOAT)")

In [4]:
for room_no in range(100, 201):
    room_type, price = ("deluxe", 3000.0) if room_no <= 150 else ("premium", 4500.0)
    mycursor.execute(
        "INSERT INTO rooms VALUES (%s, %s, %s, %s)",
        (room_no, room_type, 'Empty', price)
    )

In [5]:
mydb.commit()

In [11]:
import numpy as np

# Example data for fname and lname
fname = ['John', 'Jane', 'Alice', 'Bob', 'Carol']
lname = ['Doe', 'Smith', 'Johnson', 'Lee', 'Brown']

for id in range(1, 6):
    room_no = np.random.randint(low=100, high=200)
    mycursor.execute("UPDATE rooms SET status='Booked' WHERE room_no=%s", (room_no,))
    
    # Use parameterized queries for the INSERT statement
    mycursor.execute(
        "INSERT INTO bookings VALUES (%s, %s, %s, %s, %s, %s, %s, %s)",
        (id, room_no, fname[id-1], lname[id-1], 'Air', 1, 'Paid', 'Cash')
    )

mydb.commit()