In [2]:
import MySQLdb
from MySQLdb import Error
import os
import numpy as np

In [4]:
try:
    connection = MySQLdb.connect(
        host="localhost",
        user="root",
        password=os.getenv('MySQL'),
        database="hotel_management"
    )
    print("Connected to Database Successfully!")
except Error as e:
    print(f"Error Occurred: {e}")

Connected to Database Successfully!

In [3]:
cursor = connection.cursor()

for room_no in range(101, 201):
    if room_no <= 125: type, price = "Standard", 2500.0
    elif room_no <= 150: type, price = "Deluxe", 3200.0
    elif room_no <= 175: type, price = "Executive", 4000.0
    else: type, price = "Premium", 6500.0

    cursor.execute(f"INSERT INTO rooms VALUES({room_no}, '{type}', 'Empty', {price})")

connection.commit()

In [6]:
cursor = connection.cursor()

phone_nos = ["555-1234", "555-5678", "555-9101", "555-1121", "555-1314"]
emails = [
    "alice.smith@example.com",
    "bob.johnson@example.com",
    "charlie.williams@example.com",
    "diana.jones@example.com",
    "eve.brown@example.com"
]

book_times = [
    "2024-08-01 14:30:00",
    "2024-08-05 10:15:00",
    "2024-08-10 16:45:00",
    "2024-08-15 09:00:00",
    "2024-08-20 13:20:00"
]

fnames = ["Alice", "Bob", "Charlie", "Diana", "Eve"]
lnames = ["Smith", "Johnson", "Williams", "Jones", "Brown"]
in_dates = ["2024-08-01", "2024-08-05", "2024-08-10", "2024-08-15", "2024-08-20"]
out_dates = ["2024-08-03", "2024-08-07", "2024-08-12", "2024-08-18", "2024-08-22"]
occupants = [2, 3, 1, 4, 2]
travel_modes = ["Car", "Bus", "Flight", "Train", "Car"]

for id in range(1, 6):
    room_no = np.random.randint(low=101, high=200)
    query = f"{id}, {room_no}, '{id}', '{book_times[id-1]}', {occupants[id-1]}, '{travel_modes[id-1]}', "
    query += f"'{in_dates[id-1]}', '{out_dates[id-1]}', {id}"
    cursor.execute(f"INSERT INTO bookings VALUES({query})")
    cursor.execute(f"UPDATE rooms SET status='Booked' WHERE room_no={room_no}")

    query = f"{id}, '{fnames[id-1]}', '{lnames[id-1]}', '{phone_nos[id-1]}', '{emails[id-1]}'"
    cursor.execute(f"INSERT INTO guests VALUES({query})")

    cursor.execute(f"SELECT price FROM rooms WHERE room_no={room_no}")
    amount = cursor.fetchone()[0]
    amount *= cursor.fetchone()[0]
    cursor.execute(f"INSERT INTO payments VALUES({id}, 'Cash', {amount}, {book_times[id-1]})")

connection.commit()

In [8]:
def hash_function(key: int, table_size: int) -> int:
    key_str, PRIME_1, PRIME_2 = str(key), 31, 7
    
    hash_value = 0 # Initialize hash value
    for char in key_str:
        hash_value = (hash_value * PRIME_1 + int(char)) % table_size

    common_chars = 'B22AI0'
    for char in common_chars:
        hash_value = (hash_value * PRIME_2 + ord(char)) % table_size
    
    return hash_value % table_size

# Example usage:
key1, key2 = 22022022, 22023034
table_size = 97

print(f"Hash value for key '{key1}': {hash_function(key1, table_size)}")
print(f"Hash value for key '{key2}': {hash_function(key2, table_size)}")

Hash value for key '22022022': 65
Hash value for key '22023034': 10

In [5]:
cursor = connection.cursor()

cursor.execute("SHOW INDEX FROM rooms")
indices = cursor.fetchall()
for index in indices:
    print(index)

('rooms', 0, 'PRIMARY', 1, 'room_no', 'A', 100, None, None, '', 'BTREE', '', '', 'NO')
('rooms', 1, 'idx_room_type', 1, 'type', 'A', 4, None, None, 'YES', 'BTREE', '', '', 'NO')